In [0]:
#@title Drive open in files
from google.colab import drive
drive.mount('/content/drive')

##### This is prepared from the numpy Documentaion for reference please visit : https://numpy.org

### First Import All the required modules in our case  it is 'numpy' . so import it as below

In [0]:
import numpy as np

# Methods Of array Creation

In [0]:
# simply 
array = np.array([1,2,3,4])
array

In [0]:
# the Wrong Way of creating the array using above method
#uncomment the lines to get whats wrong in below lines
#a = np.array(1,2,3,4)    
#a

In [0]:
# creating using a data type specified 
complex_array  = np.array( [ [1,2], [3,4] ]
                           , dtype=complex )
complex_array

#### Creating an array initialized with zeros

In [0]:
empty_array = np.zeros((3,3))
empty_array

#### Creating an array initialized with ones

In [0]:
ones_array = np.ones((3,3))
ones_array
# you can also specify dtype in each case

#### Example array for Futher Understandings

In [0]:
array =  np.arange(15).reshape(3,5)
array

# Functions Used in Numpy for gathering  Information about an array :

### array.shape 
#### displays the dimensions of array that is weather it is 1-D,2-D or N-D arry

In [0]:
array.shape

### array.ndim 
#### the number of axes (dimensions) of the array i.e. len(array.shape())

In [0]:
array.ndim

### array.size  
#### Displays the number of Elements in the array.this can similarly obtained by multiplying each of the elements obtained from array.shape.

In [0]:
array.size

### array.dtype 
#### an object describing the type of the elements in the array. One can create or specify dtype’s using standard Python types. Additionally NumPy provides types of its own. numpy.int32, numpy.int16, and numpy.float64 are some examples.

In [0]:
array.dtype

### array.itemsize
#### the size in bytes of each element of the array. For example, an array of elements of type float64 has itemsize 8 (=64/8), while one of type complex32 has itemsize 4 (=32/8). It is equivalent to ndarray.dtype.itemsize.

In [0]:
array.itemsize

#### To display the Data inside a numpy array we use 
array name

In [0]:
array

#### this Arrays are often Known as ndarrays stands for n-dimensional arrays

# <span style="color:green">  Indexing, Slicing and Iterating</span>
______________________________________________________________________

## 1-D array

In [0]:
#creating an Exapmle array 
a= np.arange(10)

### Indexing

1-D arrays are most similar to the list in terms of indexing.
the First index starts from 0  and heads to n-1 terms

In [0]:
#examples :
a[2]

In [0]:
a[2:5]

In [0]:
a[:6:2] = -1000
a
 # equivalent to a[0:6:2] = -1000; from start to position 6,
#exclusive, set every 2nd element to -1000

In [0]:
# reversing 1-D array 
a[ : :-1]

In [0]:
array = a 
# interation example for 1-D array :
for an_element in array :
    print(f"{an_element**3}")
# if you dont understand above please return and learn python .

## Multi-Dimenstional arrays

Multidimensional arrays can have one index per axis. These indices are given in a tuple separated by commas:

In [0]:
# another creation method 
function = lambda x , y  : 10*x+y
b = np.fromfunction(function , (5,4),dtype=int)
b

### Indexing

In [0]:
b[2,3] # returns 2nd row 3rd collumn

In [0]:
b[0: ,1 ] # returns all elements from collumn

In [0]:
b[-1] # returns last row in the array

In [0]:
b[1:3, : ]  # each column in the second and third row of b

Lets try some 3-D arrays

In [0]:

#creation of 3d arrays :
c = np.array( [[[  0,  1,  2],               
    [ 10, 12, 13]],
    [[100,101,102],
     [110,112,113]]])
c

In [0]:
# lets check the shape of c 
c.shape

### Indexing
now here we can use the indexs in three places , say each place as axis and these axes can actually be very helpful in certain case.
lets say indexs can be used as (indexs of x axis,
                                index of y axis,
                                index of z axis
                                )

In [0]:
# examples

In [0]:
c[1]

In [0]:
c[1,0,1]

In [0]:
c[ : , 1 , :]

and Hence similarly we can use any dimensional array and apply indexing, slicing

### Iterating over the multi dimensional arrays

In [0]:
# lets` take our b again
b

In [0]:
# using for iteration on the arrays 
for row in b:
    for item in row :
        print(f"{item},",end=" ")
    print()

using flat attribute

In [0]:
# lets` see what this attribute does:
b.flat

In [0]:
# can`t see anything lets type cast it to a list or a tuple
list(b.flat)

In [0]:
# agin using for
for element in b.flat  :
    print(element)

****************************************************************************

# Changing Shape Of arrays

#### An array has a shape given by the number of elements along each axis

In [0]:
# creating a new array for this purpose you may say it as 
#another way of creating an np array 
shape_test_array = np.floor(10*np.random.random((3,4))) 
shape_test_array

Before moving forward lets understand the above line<br>
shape_test_array = np.floor(10*np.random.random((3,4)))

In [0]:
# if you want to know what is np.random just execute this block 
help(np.random)

the above is the help command  used to describe the np.random module 
its does contain the function random which takes a tuple of Shape N and generates random  number . this random number is generally of float64 data type  and may contain floats upto 6 or 8 digits or even more . don't belive me run block below

In [0]:
my_shape = (3,2) # rows,collumns
np.random.random(my_shape)

now to make it in ones or tens multiply it with certain 10**n so that it can make more useful for any person execute below cells one by one and catch the diffrence

In [0]:
10*np.random.random(my_shape)

In [0]:
100*np.random.random(my_shape)

In [0]:
# similary for any power of n.

now to round the values off we used the floor function.

In [0]:
np.floor(1000*np.random.random(my_shape))

a dot at end says its a floor value means float with no precisions
#### hence got the array 
lets start changing the shape

In [0]:
shape_test_array.ravel() # this returned a  flat 1-d array while 
#b.flat attribute returns an object

In [0]:
shape_test_array.reshape(6,2) # reshaped 1-D array to 2-D array

In [0]:
# one more way on rectangular shape arrays to change its shape is  
#using Transpose 
shape_test_array.T # this returns transpose of the given N-D array

In [0]:
# using resize method 
# ussage array.resize(shape)
shape_test_array.resize((2,6))

# Basic Operations

#### The basic terminology array is now getting  a bit obvious so by performing airthmetic operations we must have some specific names to each one of them <br>
 for instance lets call -
*  1-D array as **series** .
* 2-D arrays as  **matrix** .
* more than 2 dimensions as **tensors**.

In [0]:
# creating an example series :
series_one = np.array(range(10,1010 , 10))
series_one

In [0]:
#creating a second series  :
series_two =np.arange(5,5000, 50)
series_two

In [0]:
# basic operations such as +,-,*,/  applies from element to element 
# lets try

In [0]:
# sum 
addition_series = series_one  + series_two 
addition_series

In [0]:
# Diffrence
diffrence_series = series_two - series_one
diffrence_series

In [0]:
# product
product_series = series_one * series_two
product_series

In [0]:
# quotient
quotient_series = series_two / series_one
quotient_series

In [0]:
# max in a series means only one operand at a time
max_sum =max(series_one) + max(series_two)
max_sum

In [0]:
# min in a series
min_sum = min(series_one) + min(series_two)
min_sum

In [0]:
# finding the sum all the elements of a series
sum(series_one + series_two)

## Matrix Operations

In [0]:
# creating Sample Matrix 
matrix_one  = np.array([[1,2,3],
                        [6,5,4],
                        [7,9,8]])
matrix_one

In [0]:
matrix_two = np.arange(9).reshape(3,3)
matrix_two

In [0]:
# addition be sure that  both have same dimmensions
matrix_addition = matrix_one+ matrix_two 
matrix_addition

In [0]:
# substraction same rules as addition
matrix_substraction = matrix_one - matrix_two
matrix_substraction

In [0]:
#matrix multiplication
#You can multiply two matrices if, and only if, the number of columns  in the 
#first matrix equals the number of rows  in the second matrix.

In [0]:
product_matrix = matrix_two @ matrix_one # @: for performing Veector multiplication
product_matrix

#### there is only this much in this segment and if you know how to deal with more than two dimensional matrix than you can apply it simmilarly so lets continue with next section.

# Universal Functions

NumPy provides familiar mathematical functions such as sin, cos, and exp. In NumPy, these are called “universal functions”(ufunc). Within NumPy, these functions operate elementwise on an array, producing an array as output.


in this all i will introduce a new term called nd-array or simply ndarray  it stands for n-dimmensional Array  means n can be whatever you want such as 1,2,3... .

In [0]:
# lets try and understand them one by one

### np.arange function

In [0]:
# ussage : np.arange(start,stop,step)
np.arange(5)
#this will create a sequenstional array from 0 to n other enamples are in below

In [0]:
np.arange(1,100)

In [0]:
np.arange(0,3000,90)

In [0]:
# a cool trick lets print the table of 9 using arrange 
print(np.arange(9,91,9))

### np.exp()

In [0]:
# this method gives array that contains the exponential of parameter array's 
#elements
#ussage np.exp(ndarray)

#lets create a series with arange 
range_series = np.arange(10)
result_exp = np.floor(np.exp(range_series))
result_exp

### np.sqrt()

In [0]:
# this returns a ndarray of similar shape that we pass and with sqrt of all the objects
# lets create an array :
sample_list = [x**2 for x in range(1,100)]
sample_array = np.array(sample_list)
sqrt_array = np.sqrt(sample_array)
sqrt_array

In [0]:
# now lets try to add both of them but using a function
add_series=np.add(result_exp , sqrt_array[10])
add_series
# add() is also a function for numpy arrays to get the things done quickly .

There are more such universal functions that can do  a lot more but for this i am stopping here.

# Basic Statsticts

# Basic Linear Algebra

## Lets do some linear algebra with numpys 

(its a Demo)

In [0]:
#importing the numpy
import numpy as np

In [0]:
# creating an array for the simple array operations
arr = np.array([[1.0,2.0],[3.0,4.0]])
# lets print it 
print(arr)

In [0]:
# transpose of the array
arr.transpose()

In [0]:
#similar to above opertaion
arr.T

In [0]:
# Finding the inverse of above sequence 
np.linalg.inv(arr)

In [0]:
# unit matrix creation 
unit_matrix = np.eye(2)
unit_matrix

In [0]:
# matrix mul
arr @ arr.T

In [0]:
np.trace(unit_matrix) # this returns order of unit matrix

In [0]:
np.linalg.solve(arr,arr.T) #  solves a system of equation created by matrices .

In [0]:
# finding eigen values of matrix
np.linalg.eig(arr)

# Good bye GUYS